# Archivos de Python
*.pyc
__pycache__/

# Base de datos local
db.sqlite3

# Entorno virtual
venv/
ENV/
env/

# Configuración sensible
*.env

# Archivos de migraciones (opcional si quieres evitar subirlos)
*/migrations/__pycache__/

# Archivos de VSCode o PyCharm
.vscode/
.idea/
